# Assignment: Data Wrangling

In [208]:
! git clone https://github.com/DS3001/wrangling

fatal: destination path 'wrangling' already exists and is not an empty directory.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?

Wickham explores the abstract aspects of data cleaning, proposing a criterion where each row represents an observation, each column a variable, and each type of observational unit a distinct table, beyond just removing NA values.
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?

Despite its importance, data cleaning remains an understudied skill or activity, with the "tidy data standard" aiming to standardize and simplify the process by clarifying objectives and typical steps involved.
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."


Messy data present unique challenges compared to clean data structured for specific needs in R. While the intuitive "Data frame/matrix" concept associates rows with observations and columns with variables, it's crucial to adopt this consciously to avoid misinterpretation, as seen with county-year data leading to inadvertent errors in cleaning and organizing.
  4. Read Section 2.2. How does Wickham define values, variables, and observations?

A dataset consists of numeric or categorical/string values, each associated with both a variable (measuring a specific attribute) and an observation (reflecting the data point).
  5. How is "Tidy Data" defined in section 2.3?

In tidy data, variables are columns, observations are rows, and each unit type forms a table; otherwise, it's messy.
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?

Column headers representing values instead of variable names.
Multiple variables stored in one column.
Variables stored in both rows and columns.
Multiple types of observational units stored in the same table.
A single observational unit stored in multiple tables, leading to data duplication and the need for subsequent cleaning.
In Table 4, the data is messy because the columns represent values of a "hidden" variable (income) rather than being explicit variable names, requiring the addition of a new column for income alongside other variables.

Melting a dataset refers to the process of converting column-value variables into rows to tidy up the data.
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?

Table 11 lists days as values, while Table 12 condenses them into a single variable "date". However, Table 12 is still untidy because the "element" variable contains variable names (e.g., tmax and tmin) rather than values. Table 12(b) is tidy as it only contains attribute entries, not variable names.
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

Wickham desires a broader philosophy of data cleaning, hoping that the tidy concept transcends mere tool promotion and fosters a more extensive and robust ecosystem of ideas and tools for data science.

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [209]:
import pandas as pd
import numpy as np
import seaborn as sns

In [210]:
df = pd.read_csv('/content/wrangling/assignment/data/airbnb_hw.csv', low_memory=False)
print( df.shape)
df.head()

(30478, 13)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [211]:
var = "Price"
df[var] = df[var].str.replace(",", "") #make data easier to coerce into numeric
df[var].unique()

array(['145', '37', '28', '199', '549', '149', '250', '90', '270', '290',
       '170', '59', '49', '68', '285', '75', '100', '150', '700', '125',
       '175', '40', '89', '95', '99', '499', '120', '79', '110', '180',
       '143', '230', '350', '135', '85', '60', '70', '55', '44', '200',
       '165', '115', '74', '84', '129', '50', '185', '80', '190', '140',
       '45', '65', '225', '600', '109', '1990', '73', '240', '72', '105',
       '155', '160', '42', '132', '117', '295', '280', '159', '107', '69',
       '239', '220', '399', '130', '375', '585', '275', '139', '260',
       '35', '133', '300', '289', '179', '98', '195', '29', '27', '39',
       '249', '192', '142', '169', '1000', '131', '138', '113', '122',
       '329', '101', '475', '238', '272', '308', '126', '235', '315',
       '248', '128', '56', '207', '450', '215', '210', '385', '445',
       '136', '247', '118', '77', '76', '92', '198', '205', '299', '222',
       '245', '104', '153', '349', '114', '320', '292', '226', '420',
       '500', '325', '307', '78', '265', '108', '123', '189', '32', '58',
       '86', '219', '800', '335', '63', '229', '425', '67', '87', '1200',
       '158', '650', '234', '310', '695', '400', '166', '119', '62',
       '168', '340', '479', '43', '395', '144', '52', '47', '529', '187',
       '209', '233', '82', '269', '163', '172', '305', '156', '550',
       '435', '137', '124', '48', '279', '330', '5000', '134', '378',
       '97', '277', '64', '193', '147', '186', '264', '30', '3000', '112',
       '94', '379', '57', '415', '236', '410', '214', '88', '66', '71',
       '171', '157', '545', '1500', '83', '96', '1800', '81', '188',
       '380', '255', '505', '54', '33', '174', '93', '740', '640', '1300',
       '440', '599', '357', '1239', '495', '127', '5999', '178', '348',
       '152', '242', '183', '253', '750', '259', '365', '273', '197',
       '397', '103', '389', '355', '559', '38', '203', '999', '141',
       '162', '333', '698', '46', '360', '895', '10', '41', '206', '281',
       '449', '388', '212', '102', '201', '2750', '4750', '432', '675',
       '167', '390', '298', '339', '194', '302', '211', '595', '191',
       '53', '361', '480', '8000', '4500', '459', '997', '345', '216',
       '218', '111', '735', '276', '91', '490', '850', '398', '36', '775',
       '267', '625', '336', '2500', '176', '725', '3750', '469', '106',
       '460', '287', '575', '227', '263', '25', '228', '208', '177',
       '880', '148', '116', '685', '470', '217', '164', '61', '645',
       '699', '405', '252', '319', '268', '419', '343', '525', '311',
       '840', '154', '294', '950', '409', '184', '257', '204', '241',
       '2000', '412', '121', '288', '196', '900', '647', '524', '1750',
       '309', '510', '1495', '1700', '799', '383', '372', '492', '327',
       '1999', '656', '224', '173', '875', '1170', '795', '690', '146',
       '465', '1100', '151', '274', '429', '825', '282', '256', '1111',
       '620', '271', '161', '51', '855', '579', '1174', '430', '20',
       '899', '649', '485', '181', '455', '4000', '243', '342', '590',
       '560', '374', '437', '232', '359', '985', '31', '244', '254',
       '723', '237', '428', '370', '34', '1400', '580', '2520', '221',
       '749', '1600', '2695', '306', '202', '680', '570', '520', '223',
       '2295', '213', '1065', '346', '24', '286', '296', '266', '26',
       '995', '1368', '393', '182', '635', '258', '780', '589', '347',
       '1250', '1350', '446', '3200', '1050', '1650', '1550', '975',
       '323', '6500', '2499', '1850', '2250', '715', '461', '540', '356',
       '439', '384', '569', '1900', '22', '785', '626', '830', '318',
       '444', '321', '401', '1499', '888', '369', '770', '386', '366',
       '344', '630', '313', '597', '262', '509', '10000', '278', '312',
       '789', '1195', '422', '21', '765', '3500', '945', '326', '3100',
       '2486', '3390', '1356', '2599', '472', '454', '328', '396', '291'],
      dtype=object)

In [212]:
df[var] = pd.to_numeric(df[var], errors='coerce') #coerce str to num
print(df[var].unique())
# doesn't look like there are any values missing for price but to check:
sum(df[var].isnull()) #gives zero (0)

[  145    37    28   199   549   149   250    90   270   290   170    59
    49    68   285    75   100   150   700   125   175    40    89    95
    99   499   120    79   110   180   143   230   350   135    85    60
    70    55    44   200   165   115    74    84   129    50   185    80
   190   140    45    65   225   600   109  1990    73   240    72   105
   155   160    42   132   117   295   280   159   107    69   239   220
   399   130   375   585   275   139   260    35   133   300   289   179
    98   195    29    27    39   249   192   142   169  1000   131   138
   113   122   329   101   475   238   272   308   126   235   315   248
   128    56   207   450   215   210   385   445   136   247   118    77
    76    92   198   205   299   222   245   104   153   349   114   320
   292   226   420   500   325   307    78   265   108   123   189    32
    58    86   219   800   335    63   229   425    67    87  1200   158
   650   234   310   695   400   166   119    62   168   340   479    43
   395   144    52    47   529   187   209   233    82   269   163   172
   305   156   550   435   137   124    48   279   330  5000   134   378
    97   277    64   193   147   186   264    30  3000   112    94   379
    57   415   236   410   214    88    66    71   171   157   545  1500
    83    96  1800    81   188   380   255   505    54    33   174    93
   740   640  1300   440   599   357  1239   495   127  5999   178   348
   152   242   183   253   750   259   365   273   197   397   103   389
   355   559    38   203   999   141   162   333   698    46   360   895
    10    41   206   281   449   388   212   102   201  2750  4750   432
   675   167   390   298   339   194   302   211   595   191    53   361
   480  8000  4500   459   997   345   216   218   111   735   276    91
   490   850   398    36   775   267   625   336  2500   176   725  3750
   469   106   460   287   575   227   263    25   228   208   177   880
   148   116   685   470   217   164    61   645   699   405   252   319
   268   419   343   525   311   840   154   294   950   409   184   257
   204   241  2000   412   121   288   196   900   647   524  1750   309
   510  1495  1700   799   383   372   492   327  1999   656   224   173
   875  1170   795   690   146   465  1100   151   274   429   825   282
   256  1111   620   271   161    51   855   579  1174   430    20   899
   649   485   181   455  4000   243   342   590   560   374   437   232
   359   985    31   244   254   723   237   428   370    34  1400   580
  2520   221   749  1600  2695   306   202   680   570   520   223  2295
   213  1065   346    24   286   296   266    26   995  1368   393   182
   635   258   780   589   347  1250  1350   446  3200  1050  1650  1550
   975   323  6500  2499  1850  2250   715   461   540   356   439   384
   569  1900    22   785   626   830   318   444   321   401  1499   888
   369   770   386   366   344   630   313   597   262   509 10000   278
   312   789  1195   422    21   765  3500   945   326  3100  2486  3390
  1356  2599   472   454   328   396   291]

0

In [213]:
sdf = pd.read_csv("/content/wrangling/assignment/data/sharks.csv", low_memory = False)
svar = "Type"
print(sdf.shape)

(6462, 257)

In [214]:
sdf[svar] = sdf[svar].str.replace("Boatomg", "Watercraft") #likely a typo for boating
sdf[svar] = sdf[svar].str.replace("Boating", "Watercraft") #occured on a boat, which is a watercraft
sdf[svar] = sdf[svar].str.replace("Boat", "Watercraft") #occured on a boat, which is a watercraft
sdf[svar] = sdf[svar].str.replace("Unverified", "Unconfirmed") #these two are synonymous
sdf[svar] = sdf[svar].str.replace("Questionable", "Unconfirmed") #these two are synonymous
sdf[svar] = sdf[svar].str.replace("Sea Disaster", "Invalid") #idk what sea disaster even means, aren't these all sea disasters? lol, seems invalidating if I can't deduce the type
sdf[svar] = sdf[svar].str.replace("Under investigation", "Unconfirmed") #These seem synonymous to me as well
print(sdf[svar].unique())
print(sdf['Type'].value_counts())

['Unprovoked' 'Provoked' 'Unconfirmed' 'Watercraft' 'Invalid' nan]
Unprovoked     4716
Invalid         791
Provoked        593
Watercraft      344
Unconfirmed      13
Name: Type, dtype: int64

In [215]:
url = 'http://www.vcsc.virginia.gov/pretrialdataproject/October%202017%20Cohort_Virginia%20Pretrial%20Data%20Project_Deidentified%20FINAL%20Update_10272021.csv'
ndf = pd.read_csv(url,low_memory=False)
nvar = "WhetherDefendantWasReleasedPretrial"
print(ndf.shape)
print(ndf[nvar].unique())

(22986, 709)
[9 0 1]

In [216]:
print(ndf[nvar].value_counts())
ndf[nvar] = ndf[nvar].replace(9,np.nan) #9 is inconclusive according to codebook

1    19154
0     3801
9       31
Name: WhetherDefendantWasReleasedPretrial, dtype: int64

In [217]:
tvar = "ImposedSentenceAllChargeInContactEvent"
ndf[tvar].unique()

array([' ', '60', '12', '.985626283367556', '36', '6', '24',
       '5.91375770020534', '120', '72', '11.9917864476386', '0',
       '2.95687885010267', '84', '108', '300', '240', '180', '4', '96',
       '2', '54', '.328542094455852', '44', '5', '115', '132', '48',
       '258', '34', '76', '.164271047227926', '.131416837782341', '111',
       '9', '3', '1.97125256673511', '36.9856262833676',
       '.0657084188911704', '35.4928131416838', '106.492813141684', '8',
       '35', '18.3141683778234', '480', '32', '93', '234', '732',
       '1.16427104722793', '4.6570841889117', '21', '7',
       '4.49281314168378', '18', '600', '43.1642710472279', '179', '52',
       '30', '20', '192', '702', '14', '55', '53', '11.9055441478439',
       '114', '35.0061601642711', '68', '.657084188911704',
       '46.6242299794661', '102', '65', '200', '57', '24.3285420944559',
       '12.1642710472279', '117', '81.4928131416838', '22.4928131416838',
       '1980', '3.6570841889117', '56', '10', '2.79260780287474', '1',
       '47', '22', '1500', '40', '284', '11', '118', '42', '162', '156',
       '47.2956878850103', '105', '51', '246', '29', '75', '324', '360',
       '34.4804928131417', '120.328542094456', '59.9260780287474', '66',
       '59.9917864476386', '660', '51.1642710472279', '14.9568788501027',
       '3.98562628336756', '78', '228', '1.47843942505133', '62', '4.8',
       '86', '168', '23', '33', '48.0328542094456', '720', '348', '1200',
       '27', '49', '87', '420', '63', '79.9260780287474',
       '57.0349075975359', '49.9712525667351', '59.4928131416838', '17',
       '238.492813141684', '60.9856262833676', '126', '45', '158', '216',
       '227', '42.9568788501027', '445', '70.952772073922', '516',
       '177.82135523614', '1752', '90', '1080', '141', '4.82956878850103',
       '230', '31', '2208', '52.5133470225873', '69', '26',
       '33.4928131416838', '140', '131', '344', '219', '101', '71', '59',
       '58', '120.197125256674', '67', '35.4004106776181',
       '3.28542094455852', '40.1642710472279', '91', '1.7741273100616',
       '155', '34.4928131416838', '81', '92.3285420944559',
       '3.5482546201232', '207', '74', '518', '28', '8.95687885010267',
       '237', '404.673511293634', '18.1642710472279', '10.7433264887064',
       '551', '39', '15', '124', '43', '176', '19.4928131416838', '482',
       '129', '88', '46', '45.8542094455852', '128.628336755647',
       '136.492813141684', '108.328542094456', '50', '363.663244353183',
       '288', '250', '107', '81.0225872689938', '444', '205',
       '10.6570841889117', '19', '66.9856262833676', '38.4928131416838',
       '264', '276', '173', '222', '144', '294', '336', '431', '450',
       '73', '99.3285420944559', '128', '30.8069815195072',
       '31.5256673511294', '127', '202', '55.3285420944559', '89', '242',
       '1.31416837782341', '1029', '.788501026694045', '194.858316221766',
       '399', '39.6570841889117', '56.95687885', '198',
       '120.985626283368', '47.6570841889117', '148', '6.8993839835729',
       '65.3285420944559', '5.95277207392197', '.0985626283367557',
       '3.32854209445585', '3.94250513347023', '12.9856262833676',
       '6.98562628336756', '13.1498973305955', '15.1642710472279',
       '17.1971252566735', '17.9137577002053', '104', '212',
       '24.6570841889117', '72.6570841889117', '2.98562628336756',
       '144.985626283368', '31.9712525667351', '183', '4.98562628336756',
       '11.8213552361396', '252', '12.394250513347', '42.4928131416838',
       '10.1642710472279', '11.1642710472279', '5.49281314168378',
       '59.6632443531827', '12.3285420944559', '48.9856262833676',
       '240.985626283368', '2.6570841889117', '540', '2.97125256673511',
       '6.32854209445585', '23.6632443531828', '133.657084188912',
       '35.3285420944559', '456', '103', '1.72279260780287',
       '12.6570841889117', '11.6570841889117', '60.3285420944559',
       '3.78850102669405', '576', '2.13141683778234', '492',
       '14.9856262833676', '24.9856262833676', '61.9712525667351',
       '5.6570841889117', '16', '42.1642710472279', '.492813141683778',
       '138', '13.3141683778234', '11.8932238193018', '5.32854209445585',
       '95', '62.6570841889117', '3.08829568788501', '11.8275154004107',
       '1.64271047227926', '47.9917864476386', '4.27104722792608',
       '8.32854209445585', '3.31416837782341', '70', '77',
       '1.09856262833676', '48.1642710472279', '27.4928131416838',
       '6.93839835728953', '1011', '.68993839835729', '1.1170431211499',
       '1.49281314168378', '4.16427104722793', '1.19712525667351',
       '4.07392197125257', '188', '11.3285420944559', '.0328542094455852',
       '432', '11.952772073922', '36.4928131416838', '23.9835728952772',
       '9.98562628336756', '98', '36.3285420944559', '112',
       '.394250513347023', '13', '.262833675564682', '13.7987679671458',
       '5.8870636550308', '354', '5.91991786447639', '24.1642710472279',
       '62.95687885', '4.59958932238193', '123', '2.32854209445585',
       '23.9240246406571', '204', '197', '174', '16.1498973305955', '840',
       '440', '98.95687885', '17.952772073922', '63.9425051334702',
       '60.1314168377823', '12.1314168377823', '172.952772073922',
       '.197125256673511', '138.164271047228', '4.92813141683778',
       '.919917864476386', '18.9856262833676', '6.6570841889117',
       '2.85420944558522', '8.91375770020534', '146', '12.4928131416838',
       '.558521560574949', '.722792607802875', '5.82135523613963',
       '84.9856262833676', '6.16427104722793', '15.9856262833676',
       '64.5585215605749', '38.299794661191', '11.958932238193',
       '3.1211498973306', '126.328542094456', '5.16427104722793', '64',
       '42.6570841889117', '312', '19.9712525667351', '82.3285420944559',
       '23.9712525667351', '17.6242299794661', '121.971252566735',
       '59.6550308008214', '1.32854209445585', '7.97125256673511',
       '1.91991786447639', '.525667351129363', '9.32854209445585',
       '42.9856262833676', '41.9137577002053', '72.9856262833676',
       '12.4784394250513', '5.19096509240246', '473', '16.6570841889117',
       '109', '86.3285420944559', '41', '1.90554414784394',
       '94.1642710472279', '302', '4.39425051334702', '10.8213552361396',
       '18.3285420944559', '154', '83', '110.956878850103', '226',
       '96.0328542094456', '4.82135523613963', '30.3285420944559',
       '37.9712525667351', '50.4640657084189', '286', '99',
       '99.4928131416838', '2.6611909650924', '70.9712525667351',
       '13.9712525667351', '23.6570841889117', '.459958932238193',
       '132.492813141684', '283', '49.3141683778234', '27.9856262833676',
       '38', '7.6570841889117', '83.6550308008214', '10.9199178644764',
       '162.328542094456', '37', '132.328542094456', '35.952772073922',
       '165', '10.9856262833676', '20.1642710472279', '2.59137577002053',
       '175', '180.985626283368', '10.3285420944559', '36.1642710472279',
       '120.657084188912', '232', '152', '8.98562628336756', '167',
       '11.0657084188912', '11.2032854209446', '5.19712525667351',
       '3.16427104722793', '60.1642710472279', '1.18275154004107',
       '21.1642710472279', '2.19712525667351', '4.19712525667351',
       '2.62833675564682', '119.952772073922', '119.958932238193',
       '9.49281314168378', '5.25667351129363', '15.3285420944559',
       '2.82135523613963', '192.985626283368', '48.6570841889117',
       '5.95687885010267', '2.29979466119097', '960', '2.36550308008214',
       '116', '19.5133470225873', '1.6570841889117'], dtype=object)

In [218]:
pd.to_numeric(ndf[tvar],errors='coerce')
print(ndf[tvar])
xvar = "SentenceTypeAllChargesAtConvictionInContactEvent"
tvar_NA = ndf[tvar].isnull() # missing variable
print( pd.crosstab(tvar_NA, ndf[xvar]))

0
1                      60
2                      12
3        .985626283367556
4
               ...
22981
22982
22983
22984
22985
Name: ImposedSentenceAllChargeInContactEvent, Length: 22986, dtype: object
SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914  8779  274

In [219]:
# 4 is cases where the charges were dismissed
ndf[tvar] = ndf[tvar].mask(ndf[xvar] == 4, 0) # Replace tvar with 0 when xvar is 4
ndf[tvar] = ndf[tvar].mask(ndf[xvar] == 9, np.nan) # Replace tvar with np.nan when xvar is 9
ndf[tvar].unique()
tvar_NA = ndf[tvar].isnull() # missing variable
print( pd.crosstab(tvar_NA, ndf[xvar])) #less missing, more organized

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914  8779    0
True                                                 0     0    0     0  274

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?


The most recent US Census gathered data on race through a "check all that apply" format, allowing respondents to select multiple racial categories that applied to them. Additionally, there were write-in boxes for more nuanced responses, providing individuals the opportunity to specify their race further if needed.
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?


These data are collected for economic and sociological reasons, shaping policy decisions, resource allocation, and societal understanding. Accurate data quality is vital for informed decision-making and fostering inclusivity by reflecting the complexity of demographics and needs accurately.
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?


Constructive Criticism of the Census:

What was done well:

Providing broad race categories with additional nuance options.
Addressing contemporary discussions about sex and gender in the HPS survey.
What was missing:

Lack of options for uncertainty or preference not to answer, especially in SOGI questions.
Limited nuance in older versions of the Census race questions.
Absence of sexuality data in the ACS/Census surveys.
Adjustments for future surveys:

Implementing a "check all that apply" approach for race questions for better diversity representation.
Enhancing data gathering by incorporating nuanced questions and options for uncertainty.
Adopting practices from the HPS survey to capture contemporary discussions about sex and gender.
Expanding data collection on sexuality for a more comprehensive demographic understanding.

4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.


The Census gathered data on sex and gender by asking respondents about their sex assigned at birth and their current gender identity, with options for male, female, transgender, and non-binary identities.

Constructive criticism of their practices:

While the Census includes options for transgender and non-binary identities, it lacks the ability for respondents to indicate uncertainty or preference not to answer, potentially limiting inclusivity.
The question about sex assigned at birth may be considered intrusive by some individuals, and it does not offer options for "I don't know" or "Prefer not to answer," which could be seen as bad practice.
While the Census addresses contemporary discussions about sex and gender to some extent, there may be room for improvement in terms of providing more nuanced options and respecting respondents' agency in choosing how to identify.


5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?

Concerns arise when individuals are forced into simplistic categorizations that may not reflect their multi-dimensional identities. Constructing questions that limit respondents to one-dimensional answers can overlook the complexity of identity. Imputing values for missing data without considering non-response reasons may introduce bias. Good practices involve allowing respondents to select from multiple categories and maintaining nuance during data cleaning, rather than aggregating identities into overly simplified categories.
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?

Imputing values for protected characteristics using an algorithm raises concerns about privacy, bias, oversimplification of identity, legal compliance, and lack of transparency.